* {
    background-color:antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 5px solid grey;
}

header h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 30px 20px;
    float: right;
}

li {
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: green;
}

.hero img {
    width: 100%;
    border: 5px solid green;
    /* how do I do this without margin? */
    margin-top: 200px;
}

figcaption {
    font-style: italic;
}

h2 {
    text-transform: uppercase;
}

input[type=submit] {
    color: green;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    line-height: 2;
}

input[type=text],input[type=email] {
    background-color: grey;
    width: 200px;
}
